.canvas {
  position: relative;
}

.canvas::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
